.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    z-index: 3;
    background-color: #ffffff;
    padding: 6px 2px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: none;
  }
  #logo {
    height: 25px;
    width: 25%;
    position: relative;
    left: 10px;
    /* border: 1px solid black; */
  }
  .nav_list {
    margin-top: 10px;
  }
  .nav_list > li {
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    font-size: 15px;
    padding: 10px;
  }
  .fa-bars {
    position: relative;
    bottom: 10px;
    padding: 7px;
    border-radius: 20px;
    /* top:1px; */
  }
  .fa-bars:hover {
    background-color: #dcdcd8;
  }
  
  .links_name {
    position: relative;
    left: 30px;
    text-decoration: none;
    color: #212121;
  }
  
  .nav_list > li:hover {
    background-color: #dcdcd8;
  }
  a {
    text-decoration: none;
  }
  
  #ar1 {
    position: relative;
    left: 104px;
    color: #446478;
  }
  #ar2 {
    position: relative;
    left: 100px;
    color: #446478;
  }
  #ar3 {
    position: relative;
    left: 117px;
    color: #446478;
  }
  .fa-solid {
    color: #446478;
  }
  #navimg {
    width: 25%;
    margin-top: 18px;
    /* border: 3px solid purple; */
  }
  #nav_bar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-top: 0px;
    position: sticky;
    top: 0px;
    background-color: white;
  }
  #signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding-right: 20px;
    gap: 20px;
  }
  #s1 {
    color: white;
    background-color: #df1e2e;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .fa-cart-shopping {
    margin-top: 5px;
  }
  #s1:hover {
    background-color: #8a1720;
  }
  h4 {
    font-size: 12px;
  }
  #opt1>li{
    padding: 6px 0px;
  }
  #opt1 {
    display: none;
    /* width: 100%; */
    margin: auto;
    margin-left: 0px;
    margin-top: 10px;
    color: black;
  }
  
  #opt1 > li:hover {
    width: 100%;
    background-color: #dcdcd8;
  }
  
  #reg,
  #log {
    display: none;
    /* width: 100%; */
    margin: auto;
    margin-left: 40px;
    margin-top: 10px;
  }
  .how>li{
    padding: 6px 0px;
  }
  .how>li:hover{
    width: 100%;
    background-color: #dcdcd8;
  }
