@media all and (min-width:950px) and (max-width:1800px){
    #footerr{
        width: 100vw;
        height: fit-content;
        padding:20px 0px;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
        background-color: rgba(8, 46, 66, 0.889);
        padding-top: 30px;
        margin-top: 40px;
    }
    #footer_containerfirst{
        display: grid;
        /* border: 1px solid red; */
        grid-template-columns: 10% 22% 22% 22%;
        justify-content: space-around;     
        /* gap:80px; */
    }
    .containerfirstdiv>p:first-child{
        cursor:auto;
        font-size: 15px;
    }
    .containerfirstdiv a{
     font-size: 13.4px; 
     color:white;
     text-decoration: none;
     cursor: pointer;
    }
    .containerfirstdiv p{
        font-size: 13.4px; 
        color:white;
        text-decoration: none;
        cursor: pointer;
       }
    .containerfirstdiv p+hr{
        border:none;
        height: 1px;
        width: 80%;
        background-color: rgb(165, 163, 163);
        margin-bottom: 15px;
        margin-left: -5px;
        margin-top: -10px;
    
        
    }
    .containerfirstdivdiv{
        justify-content: end;    
        margin-right: -40%;
        display: grid;
        grid-template-rows: repeat(4,22px);
        gap:6px;
        margin-top: 55%;
    }
    .containerfirstdivdiv>div{
        height: 100%;
        cursor: pointer;
        width: 22px;
        background-color: white;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerfirstdivdiv img{
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }
    #footer_containersecond{
        width: 80%;
        /* border: 1px solid blue; */
        margin: auto;
        color:white;
        display: flex;
        justify-content: space-around;
        margin-top: 4%;
        /* background-color: rgba(8, 46, 66, 0.889); */
        /* margin-bottom: 10px; */
        margin-top: 10px;
    }
    #footer_containersecond a{
        text-decoration: none;
        
    }
    #footer_containersecond p{
        color:white;
        font-size: 11.6px;
    }
    #footer_containersecond p:hover{
        cursor: pointer;
    }
    #footer_containersecond+hr{
        width: 80%;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 15px;
        height: 0.1px;
        border:none;
        background-color: white;
    }
    
    #footer_containersecond+hr+p{
        font-size: 14px;
        margin: auto;
        margin-top: -10px;
        text-align: center;
        padding-left: 10%;
        color:white;
    
    }
    
    }
    
    
    @media all and (min-width:600px) and (max-width:949px){
        #footerr{
            width: 100vw;
            
            height: fit-content;
            padding:20px 0px;
            color:white;
            font-family: Arial, Helvetica, sans-serif;
           
            background-color: rgba(8, 46, 66, 0.889);
            padding-top: 40px;
            
        }
        #footer_containerfirst{
            display: none;
        }
        #footer_containersecond{
            display: none;
            
        }
        
        #footer_containersecond+hr{
            display: none;
        }
        #footer_containersecond+hr+p{
            display: flex;
            font-size: 14px;
            justify-content: center;
            color:white;
        }
    
    }
        
    
    @media all and (min-width:10px) and (max-width:599px){
        #footerr{
            width: 100vw;
            
            height: fit-content;
            padding:20px 0px;
            color:white;
            font-family: Arial, Helvetica, sans-serif;
           
            background-color: rgba(8, 46, 66, 0.889);
            padding-top: 40px;
            
        }
        #footer_containerfirst{
            display: none;
        }
        #footer_containersecond{
            display: none;
            
        }
        
        #footer_containersecond+hr{
            display: none;
        }
        #footer_containersecond+hr+p{
            text-align: center;
            font-size: 12px;
            
            color:white;
        }
    
    }